.contenido {
   width: 100%;
   margin: 0 auto 0 auto;
   padding: 10px;
   display: table;
}

.grillac{
    width: 90%;
    display: block;
    margin: 0 auto 0 auto;
}

.columna{
    display: table-row;
    float: left;
}

.columna_1{
    margin-right: 20px;
    width: 65%;
}

.columna_2{
    width: 30%;
}

.fila{
    display: table-cell;
}

.centrar1{
    width: 70%;
    display: block;
    margin: 0 auto 0 auto;
}

.registro{
    margin-left: 20px;
}

.panelAdmin{
    text-align: center;
}

.validarRut{
       display: none;
       margin: 25px 20px 20px 20px;  
       padding: 10px 30px 10px 30px;
       border-radius: 10px;
       background: #BCE774;
}

.carr{
    width: 80%;
    display: block;
    margin: 0 auto 0 auto;
}

a{
    text-decoration: none;
}

.yw0_c0{
    width: 500px;
}

.navbar-inner{
    height: 10px;
}